body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.column {
    flex: 1 0 25%; /* Всички колони са с равен размер */
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #F0F8FF; /* По-блед синьо */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column h2 {
    font-size: 1.5em; /* Увеличен размер на заглавията */
    margin-bottom: 10px;
    color: #333; /* Тъмно синьо */
}

.price {
    font-size: 1.2em; /* Увеличен размер на цената */
    font-weight: bold;
    color: rgb(30, 1, 123);
    margin-top: 10px; /* Премести цената надолу */
}

.bonus, .minutes, .vip-access {
    font-size: 1em; /* Среден размер на текста */
    color: #666; /* Сиво */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .column {
        flex: 1 0 100%;
    }
}